@import "styles/variables.module";

.wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding-top: 15px;
  background:
    repeating-linear-gradient(
      45deg,
      #e6d341,
      #e6d341 10px,
      #171717 10px,
      #171717 20px
    );
  background-size: 100% 15px;
  background-repeat: no-repeat;
}

.content {
  display: flex;
  flex: 1;

  .sidebar {
    padding-top: 3px;
    width: 250px;
    border-right: 1px solid $colorGray;
  }

  .info {
    flex: 1;
    padding: 23px 21px;
    display: flex;
    flex-direction: column;
  }
}

.title {
  font-size: 24px;
  font-variation-settings: "wght" 600;
  margin-bottom: 8px;
}

.bottomMargin {
  margin-bottom: 23px;
}

.divisor {
  border-top: 1px solid $colorGray;
  margin-left: -23px;
  width: calc(100% + 46px);
  margin-top: 25px;
  margin-bottom: 25px;
}
