.wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.warningStripes {
  background: repeating-linear-gradient(
                  45deg,
                  #E6D341,
                  #E6D341 10px,
                  #171717 10px,
                  #171717 20px
  );
  height: 15px;
  width: 100%
}

.content {
  display: flex;
  flex: 1;

  .sidebar {
    padding-top: 3px;
    width: 250px;
    border-right: 1px solid #cacaca;
  }

  .info {
    flex: 1;
    padding: 23px 21px;
  }
}

.title {
  font-size: 24px;
  font-variation-settings: "wght" 600;
  margin-bottom: 8px;
}

.bottomMargin {
  margin-bottom: 23px;
}
