@use "sass:color";
@use "sass:map";
@import "styles/variables.module";

.base {
  padding: 9px;
}

.item {
  cursor: pointer;
  padding: 6px 13px;
  display: flex;
  min-width: 225px;
  justify-content: space-between;
  align-items: center;
  font-variation-settings: "wght" 500;
  margin-bottom: 3px;
  border-radius: 8px;
  border: 1px solid transparent;
  line-height: 19px;

  .label {
    flex: 1;
    font-size: 15px;
    color: $colorBlack;
    letter-spacing: 0;
    text-transform: capitalize;
  }

  .counter {
    font-size: 12px;
    color: map.get($colorSidebar, "counter");
    letter-spacing: 0.96px;
    text-align: right;
  }

  &.selected {
    cursor: default;
    background: map.get($colorListItemActive, "background");
    border: 1px solid map.get($colorListItemActive, "border");
  }

  &:not(.selected):hover {
    background: color.adjust(map.get($colorListItemActive, "background"), $alpha: -0.5);
    border: 1px solid color.adjust(map.get($colorListItemActive, "border"), $alpha: -0.5);
  }
}
