@use "sass:map";
@import "styles/variables.module";

.topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: map.get($topbarSize, "height");
  margin-bottom: map.get($topbarSize, "marginbottom");

  .title {
    font-size: 38px;
    letter-spacing: -0.9px;
    font-variation-settings: "wght" 700;
  }

  .description {
    font-size: $fontDescription;
    letter-spacing: 0;
    font-variation-settings: "wght" 400;
    padding-left: 8px;
  }

  .actions {
    flex: 1;
  }
}
