@import "styles/variables.module";

.check {
  padding: 15px;
  margin-bottom: 10px;
  border: 1px solid $colorGray;
  border-radius: 8px;

  .container {
    display: flex;
    flex: 1;
    align-items: center;

    .succeeded {
      color: $colorGreen;
      opacity: 0.45;
    }

    .errored {
      color: $colorRed;
      opacity: 0.45;
    }

    .waiting {
      width: 24px;
      height: 24px;
      display: flex;
      align-items: center;
    }

    .content {
      margin-left: 14px;
      flex: 1;
    }

    .statusMessage {
      margin-bottom: 0;
    }

    .pluginName {
      font-size: 16px;
      font-variation-settings: "wght" 600;
    }
  }

  .details {
    margin-top: 20px;
  }
}
