@import "styles/variables.module";

.pagination {
  width: 100%;
  text-align: center;
  margin-bottom: 60px;
  margin-top: 50px;

  $defaultTransition: border 0.1s ease-in-out, background-color 0.1s ease-in-out, color 0.1s ease-in-out;

  .pages {
    list-style-type: none;
    display: inline-flex;
    align-items: center;

    .arrow {
      cursor: pointer;
      margin: 0 8px;
      color: $colorBlack;
      transition: $defaultTransition;

      &.disabled {
        color: $colorGray;
        cursor: default;
      }
    }

    .page {
      font-size: 17px;
      border-radius: 8px;
      margin: 0 4px;
      width: 37px;
      height: 37px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: $defaultTransition;
      border: 1px solid transparent;

      &.active {
        border: 1px solid $colorGray;
        font-variation-settings: "wght" 500;
        background-color: $colorGrayLighter;
      }

      &:hover {
        border: 1px solid $colorGray;
      }
    }
  }
}
