@import "styles/variables.module";

.header {
  display: flex;
  flex-direction: column;
  padding: 20px 15px 20px 30px;

  .top {
    display: flex;

    .text {
      flex: 1;
    }
  }

  .commitHeader {
    margin: 0;
  }
}
