@import "styles/variables.module";

.base {
  display: flex;
  width: 100%;
  padding: 16px;

  .iconWrapper {
    margin-right: 10px;
  }

  .secretName {
    font-size: 15px;
    letter-spacing: 0;
  }

  .infoWrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  &.active {
    .iconWrapper,
    .secretName,
    .lastUsed { color: $colorGreen; }
  }

  &.withMeta {
    padding: 14px 16px 15px;
  }

  &.divider {
    margin-bottom: 14px;
    border-bottom: 1px solid $colorWhiteDark;
  }
}
