@import "styles/variables.module";

.list {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  border: 1px solid $colorGray;
  border-radius: 8px;
  overflow-y: scroll;
  height: 0;
}

.titleWrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}
