@import "styles/variables";

.base {
  position: relative;
  display: inline-flex;
  align-items: center;
  width: 100%;
}

.inputWrapper {
  position: relative;
  flex: 1;
  border: 1px solid $colorInputBorder;
  border-radius: 4px;
  background: $colorInputBackground;
  overflow: hidden;
  display: inherit;
  align-items: inherit;

  &.disabled {
    opacity: 0.7;
  }

  &.focused {
    border: 1px solid $colorBlue;
    background: $colorInputFocusBackground;
    box-shadow: 0 0 5px 1px $colorInputFocusShadow;
  }

  &.errored {
    border: 1px solid $colorInputErrorBorder;

    &.focused {
      box-shadow: 0 0 5px 1px $colorInputErrorFocusShadow;
    }
  }
}

.label {
  margin-right: 8px;

  &.labelDisabled {
    opacity: 0.4;
  }
}

.input {
  background: transparent;
  border: none;
  font-size: $fontInput;
  padding: 5px 10px 4px;
  width: 100%;

  &::placeholder {
    color: $colorInputPlaceholder;
  }

  &:focus {
    outline: 0;
  }

  &.withIcon {
    padding: 8px 8px 8px 30px;
    font-size: 17px;
    border-radius: 8px;
  }

  &.withSpinner {
    padding-right: 26px;
  }
}

.iconContainer {
  line-height: 15px;
  position: relative;
  margin-right: -18px;
  left: 8px;
  top: 1px;
}

.loadingWrapper {
  position: absolute;
  justify-content: center;
  top: 50%;
  transform: translateY(-20px);
  right: -20px;
  opacity: 0;
  transition: opacity 0.2s ease-in-out, right 0.2s ease-in-out;

  &.loadingVisible {
    opacity: 1;
    right: 5px;
  }
}
