@import 'styles/variables';

.box {
  display: flex;
  flex-direction: column;
  background-color: $colorGrayLight;
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0,0,0, 0.24), 0px 11px 40px rgba(0,0,0, 0.24);
  width: 365px;

  .title {
    font-size: 24px;
    font-variation-settings: "wght" 400;
  }

  .description {
    font-size: 15px;
    margin-bottom: 20px;
    white-space: pre-line;
  }
}
