@import "styles/variables.module";

.box {
  background-color: $colorGrayLight;
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgb(0 0 0 / 24%), 0 11px 40px rgb(0 0 0 / 24%);
  width: 100%;
  position: relative;
  overflow: hidden;

  &.gutterBottom {
    margin-bottom: 32px;
  }

  .content {
    display: flex;
    flex-direction: column;
    z-index: 1;
    position: relative;
  }

  .backgroundText {
    position: absolute;
    font-size: 141px;
    white-space: nowrap;
    opacity: 0.04;
    font-variation-settings: "wght" 700;
    line-height: 124px;
    left: 12px;
    bottom: -13px;

    &.small {
      font-size: 100px;
      line-height: 150px;
      bottom: -40px;
    }
  }
}
