@import "styles/variables.module";

.stats {
  width: 173px;
  height: 100%;
  background: $colorGrayLight;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;

  .value,
  .description {
    position: relative;
    z-index: 1;
  }

  .value {
    font-size: 40px;
    font-variation-settings: "wght" 700;
  }

  .description {
    margin-bottom: 0;
  }

  .chart {
    position: absolute;
    left: -5px;
    bottom: -5px;
  }
}
