@import "styles/variables.module";

.main {
  flex: 1;
  display: flex;
  padding-bottom: 30px;

  .box {
    padding: 0;
    flex: 1;

    > div {
      height: 100%;
      flex-direction: column;
    }

    .content {
      display: flex;
      flex: 1;
    }
  }

  .sidebar {
    display: flex;
    flex-direction: column;
  }
}
