@import "styles/variables.module";

.content {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.sidebar,
.list {
  display: flex;
  flex-direction: column;
}

.list {
  flex: 1;
}

.pagination {
  margin-bottom: 10px;
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid $colorGray;
}
