@use "sass:color";
@use "sass:map";
@import "styles/variables.module";

.base {
  border-radius: 3px;
  padding: 5px;
  opacity: 0.59;
  font-size: 15px;
  color: $colorBlack;
  letter-spacing: 0;
  text-align: center;

  &.light {
    background: map.get($colorKbd, "background-light");
    border: 1px solid map.get($colorKbd, "border-light");
    box-shadow:
      0 2px 3px 0 color.adjust($colorBlack, $alpha: -0.22),
      inset 0 3px 0 0 color.adjust($colorWhite, $alpha: -0.5);
  }

  &.dark {
    background: map.get($colorKbd, "background-dark");
    border: 1px solid map.get($colorKbd, "border-dark");
    box-shadow:
      0 2px 3px 0 color.adjust($colorBlack, $alpha: -0.22),
      inset 0 3px 0 0 rgb(92 92 92 / 50%);
    color: $colorGray;
  }

  &.mini {
    font-size: 12px;
    padding: 4px 5px;
  }
}
