@import "styles/variables.module";

.content {
  max-width: 582px;
  height: 350px;
  display: flex;
  flex-direction: column;

  .header {
    flex-shrink: 0;
    margin-bottom: 20px;

    .title {
      font-variation-settings: "wght" 600;
      margin-bottom: 8px;
    }

    .important {
      margin-top: 8px;
    }
  }

  .textField {
    margin-bottom: 15px;
    flex: 1;
    display: flex;
  }

  .buttons {
    flex-shrink: 0;
    flex-grow: 0;
    text-align: right;

    button:last-of-type {
      margin-left: 12px;
    }
  }
}
