.codeblock-line {
  span {
    &.k,
    &.kp,
    &.kn,
    &.kd,
    &.kt,
    &.kc { color: #025bb7; }

    &.nf { color: rgb(55 113 114); }

    &.na { color: #1b7878; }

    &.n { color: rgb(59 59 59); }

    &.nb,
    &.vi,
    &.nd,
    &.no,
    &.nl { color: #8739ac; }

    &.nc,
    &.nn {
      color: rgb(72 151 180);
      font-weight: bold;
    }

    &.s,
    &.ss,
    &.s2,
    &.sx,
    &.sr { color: rgb(185 57 28); }

    &.nb + .o + .no { color: black; }

    &.m,
    &.mi,
    &.mh,
    &.mf,
    &.mo,
    &.mb { color: rgb(197 70 108); }

    &.o,
    &.p { color: rgb(119 126 136); }

    &.c1 {
      color: rgb(119 119 119);
      font-style: italic;
    }
  }
}
