@import "styles/variables.module";

.text {
  strong {
    font-variation-settings: "wght" 600;
  }

  .title {
    font-size: $fontTitle;
    font-variation-settings: "wght" 400;
  }

  .description {
    font-size: $fontDescription;
    margin-bottom: 20px;
    white-space: pre-line;
  }
}
