@import "styles/variables.module";

.text {
  strong {
    font-variation-settings: "wght" 600;
  }
}

.title {
  font-size: $fontTitle;
  font-variation-settings: "wght" 400;
}

.description {
  font-size: $fontDescription;
  white-space: pre-line;

  &.gutterBottom {
    margin-bottom: 20px;
  }
}
