@import "styles/variables.module";

.content {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.sidebar,
.info {
  display: flex;
  flex-direction: column;
}

.info {
  flex: 1;

  .item {
    padding: 20px;

    .title {
      font-variation-settings: "wght" 600;
      margin-bottom: 8px;
    }

    .description {
      max-width: 630px;
    }
  }
}
