@import "styles/variables.module";

.statusDisplay {
  .base {
    display: flex;
    flex-direction: row;
    padding: 0;
    font-size: 15px;

    .cell {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .text {
        padding: 18px 25px;

        .dot {
          height: 12px;
          width: 12px;
        }

        .label {
          margin-left: 6px;
        }

        .message {
          margin-left: 4px;

          &.bold {
            font-variation-settings: "wght" 600;
          }
        }
      }

      .details {
        margin: 4px 8px;

        &.help {
          margin-right: 12px;
        }
      }

      &:first-of-type {
        border-right: 1px solid $colorGray;
      }
    }
  }
}
