@import "styles/variables";

.header {
  border-bottom: 1px solid $colorGray;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 35px;

  .content {
    width: $contentWidth;
    height: 63px;
    display: flex;
    align-items: center;
    padding: 0 15px 0 6px;
  }

  .logo {
    display: inline-flex;
    align-items: flex-end;
    height: 100%;

    img {
      align-self: end;
    }
  }

  .title {
    flex: 1;
    font-size: $fontTitle;
    letter-spacing: -0.8px;
    margin-left: 10px;
    font-variation-settings: "wght" 700;

    span {
      font-size: initial;
      letter-spacing: initial;
      color: $colorGrayMedium;
      font-variation-settings: "wght" 400;
    }
  }

  .menu {
    display: inline-flex;
    list-style-type: none;

    li {
      font-size: 15px;
      padding-right: 16px;
      font-variation-settings: "wght" 500;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }

      &:last-of-type {
        padding-right: 0;
      }
    }
  }
}
