@use "sass:color";
@import "styles/variables";

.base {
  background: $colorProgressBarBackground;
  border: 1px solid $colorProgressBarBorder;
  box-shadow: inset 0 0 1px 0 color.adjust($colorBlack, $alpha: -0.5);
  border-radius: 4px;

  .progressFill {
    background: $colorBlue;
    border: 1px solid $colorProgressBarFillBorder;
    border-radius: 4px;
    height: 100%;
    transition: width 0.3s ease-in;
  }
}
