@import "styles/variables.module";

.list {
  border-top: 1px solid $colorGray;
  flex: auto;
  padding-top: 26px;
  height: 100%;
  overflow: auto;
  width: 734px;
}

.noResults {
  margin-top: 20px;
}

.listItem {
  padding: 24px 30px 32px 21px;
  border-bottom: 1px solid $colorGray;

  p {
    margin-bottom: 0;
  }

  .message {
    font-size: 17px;
    padding: 2px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .fileRow {
    display: inline-flex;
    align-items: baseline;
    margin-bottom: 20px;

    .file {
      font-variation-settings: "wght" 300;
      margin-right: 5px;
    }
  }
}
