@import "styles/variables.module";

.content {
  .title {
    font-variation-settings: "wght" 600;
    margin-bottom: 8px;
  }

  .buttons {
    text-align: right;

    button:last-of-type {
      margin-left: 12px;
    }
  }
}
