@import "styles/variables.module";

.base {
  display: inline-block;
  padding: 6px;
  background-color: $pillNavBackground;
  border-radius: 23px;

  button,
  a {
    margin-right: 8px;
  }

  :last-child {
    margin-right: 0;
  }
}
