@use "sass:map";
@import "styles/variables";

.searchField {
  position: relative;

  .input {
    border: 1px solid $colorGray;
    background-color: $colorGrayLight;

    &:focus {
      outline: none;
      background: $colorGrayLighter;
      border-color: $colorBlue;
      box-shadow: 0 0 5px 1px map.get($colorInputLight, "focusShadow");
    }
  }
}
