.base {
  display: flex;
  border-bottom: 1px solid #cacaca;
  padding-bottom: 15px;

  .iconWrapper {
    margin-right: 10px;
    svg {
      stroke-width: 1.5;
    }
  }

  .dataWrapper {
    flex: 1;
  }

  .createdAt, .accessibleBy, .usageData {
    color: #8A8A8A;
  }
}
