@import 'styles/variables';

.signin {
  margin-top: 20px;
  display: flex;
  justify-content: center;

  .box {
    max-width: 335px;
  }

  h1 {
    font-size: 24px;
    font-variation-settings: 'wght' 400;
  }

  .description,
  .error {
    font-size: 15px;
  }

  .description {
    margin-bottom: 20px;
  }

  .error {
    color: $colorRed;
    margin-top: 10px;
  }

  .loading {
    width: 100%;
    text-align: center;
    .spinner {
      height: 40px;
      animation:spin 1s linear infinite;
    }
  }

  .button {
    width: 100%;
    position: relative;
    padding: 12px 16px;
    border-radius: 8px;
    cursor: pointer;
    background-color: $colorGrayDark;
    font-size: 17px;
    color: $colorWhite;
    border: none;

    img {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 15px;
    }
  }

  @keyframes spin { 
    100% { 
        transform:rotate(360deg); 
    } 
}
}

