@import "styles/variables.module";

.base {
  background: #141414;
  display: block;
  position: relative;
  padding: 14px 18px 16px;
  border-radius: 9px;
  width: 275px;
  z-index: 100;

  .title {
    font-weight: 500;
    font-size: 18px;
    color: #cacaca;
    letter-spacing: 0;
    margin-bottom: 4px;
  }

  .body {
    font-size: 15px;
    color: #cacaca;
    letter-spacing: 0;
  }

  &::before {
    content: " ";
    display: block;
    position: absolute;
    left: calc(50% - 8px);
    top: -8px;
    width: 16px;
    height: 16px;
    background: inherit;
    transform: rotate(45deg);
    z-index: 50;
  }
}
