.lastCommit {
  .title {
    font-variation-settings: "wght" 600;
    margin-bottom: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .histogram {
    margin-bottom: 20px;
  }
}
