@import "styles/variables.module";

.alert {
  padding: 15px 80px 15px 15px;
  display: flex;
  border: 1px solid #e6d341;
  border-radius: 8px;
  align-items: center;
  min-height: 54px;
  background-color: #f4eebd;
  position: relative;
  overflow: hidden;

  p {
    margin-bottom: 0;
    z-index: 1;
  }

  .link {
    text-decoration: underline;
  }

  .icon {
    color: #e6d34192;
    right: -15px;
    position: absolute;
    bottom: -12px;
    z-index: 0;
  }
}
