@import "styles/variables.module";

.charts {
  display: flex;
  justify-content: space-between;

  .empty {
    max-width: 273px;
    position: absolute;
    top: 50%;
    transform: translate(-25%, -25%);
    left: 35%;
    z-index: 1;

    .emptyTitle {
      font-size: 17px;
      font-variation-settings: "wght" 600;
    }

    .settingUpLink {
      font-variation-settings: "wght" 600;
      text-decoration: underline;
    }
  }

  .box {
    &:first-of-type {
      margin-right: 32px;
    }

    .title {
      font-variation-settings: "wght" 600;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .description {
      font-variation-settings: "wght" 400;
      font-size: 13px;
      margin-bottom: 10px;
      color: $colorGrayMedium;
      margin-left: 7px;
    }

    .chart {
      margin-left: -15px;
      margin-bottom: -10px;
    }
  }
}
