@import 'styles/variables';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  min-height: 100vh;
  font-size: 15px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $colorBlack;
  background: linear-gradient(180deg, #EDEEF0 0%, #E6E7E8 100%);;
}

main {
  width: $contentWidth;
  flex: 1;
}

a {
  color: inherit;
  text-decoration: none;
}

