// GRID
$contentWidth: 1024px;

// COLORS
$colorGray: #cacaca;
$colorGrayLight: #efefef;
$colorGrayLighter: #ebebeb;
$colorGrayMedium: #808080;
$colorGrayDark: #333;
$colorWhite: #fff;
$colorBlack: #000;
$colorRed: #dc2331;
$colorRedMedium: #b31714;
$colorBlue: #1196ff;
$colorInputFocusShadow: rgb(17 150 255 / 19%);

// FONT-SIZES
$fontTitle: 24px;
$fontDescription: 15px;
