@use "sass:map";

// GRID
$contentWidth: 1024px;
$headerSize: (
  height: 64px,
  marginbottom: 35px
);
$topbarSize: (
  height: 72px,
  marginbottom: 32px
);

// COLORS
$colorGray: #cacaca;
$colorGrayLighter: #ebebeb;
$colorGrayLight: #efefef;
$colorGrayMedium: #808080;
$colorGrayDark: #333;
$colorWhite: #fff;
$colorWhiteDark: #d8d8d8;
$colorBlack: #000;
$colorRed: #b31714;
$colorBlue: #1196ff;
$colorGreen: #1b8d0c;
$colorInputFocusShadow: rgb(17 150 255 / 19%);
$colorProgressBar: (
  background: #d3d3d3,
  border: #cecece,
  fillBorder: #a5d1f4
);

// Why can't this be $colorGrayLighter? Great question! The Cie76 algorithm value for the
// difference between $colorGrayLighter and $pillNavBackground is 2.6892, so the difference
// is perceivable.
$pillNavBackground: #e4e4e4;
$colorInputLight: (
  background: #f8f8f8,
  border: #c4c4c4,
  focusShadow: rgb(17 150 255 / 19%),
  focusBackground: #fcfcfc,
  errorBorder: #f11,
  errorFocusShadow: rgb(255 17 17 / 19%),
  placeholder: #515151,
);
$colorInputDark: (
  background: #535456,
  border: #696a6d,
  focusShadow: rgb(17 150 255 / 19%),
  focusBackground: #67696a,
  errorBorder: #e22828,
  errorFocusShadow: rgb(255 17 17 / 19%),
  placeholder: #919191,
  textColor: #fff,
);
$colorKbd: (
  background-light: #eee,
  border-light: #b4b4b4,
  background-dark: #333,
  border-dark: #1a1a1a
);
$colorListItemActive: (
  background: #d4e4f1,
  border: #a5d1f4
);
$colorSidebar: (
  counter: #6d6d6d,
);
$colorAccessoryButtonRoundBorder: #4d4d4d;
$colorBox: (
  background: #e9e9e9,
  border: #dedede,
);
$colorBranchSwitcher: (
  active-item-background: #2a4860,
  active-item-border: #44759c,
);
$colorFileList: (
  oddItemBackground: #e5e5e5,
  hoverItemBackground: #d4e4f1,
  hoverItemBorder: #a5d1f4,
);
$colorHistogram: (
  value-background-1: #d4e4f1,
  value-background-2: #dde8f1,
  value-color: #6d6d6d,
);
$colorMenu: (
  textColor: #d3d3d3,
  backgroundHover: #26455f,
  borderHover: #386080,
  dangerTextNormal: #ea4d43,
  dangerBackgroundHover: #602a2a,
  dangerBorderHover: #9c4444,
);
$colorBanner: (
  textColor: #f0f1ff,
  buttonColor: #b5b5b5,
  successForeground: #73d08b,
  successBackground: #2d4d4b,
  infoForeground: #5e9bd4,
  infoBackground: #1f2957,
  warningForeground: #e9bd00,
  warningBackground: #454017,
);

// FONT-SIZES
$fontTitle: 24px;
$fontDescription: 15px;
$fontInput: 15px;

/* stylelint-disable */
$heightFixedPage: calc(100vh - map.get($headerSize, "marginbottom") - map.get($headerSize, "height") - map.get($topbarSize, "height") - map.get($topbarSize, "marginbottom") - 28px);
/* stylelint-enable */

:export {
  color_gray: $colorGray;
  color_gray_lighter: $colorGrayLighter;
  color_gray_light: $colorGrayLight;
  color_gray_medium: $colorGrayMedium;
  color_gray_dark: $colorGrayDark;
  color_white: $colorWhite;
  color_white_dark: $colorWhiteDark;
  color_black: $colorBlack;
}
