@import "styles/variables.module";

.listBox {
  .listItem {
    padding: 0;
    cursor: pointer;

    .content {
      display: flex;
      justify-content: space-between;
    }

    .info {
      padding: 28px;
      min-width: 0;
      z-index: 1;
      position: relative;

      .title {
        font-variation-settings: "wght" 600;
        margin-bottom: 5px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .description {
        font-variation-settings: "wght" 400;

        &.disabled {
          color: $colorGrayMedium;
        }
      }
    }

    &.loading {
      cursor: wait;
    }

    .skeleton {
      line-height: 0;
      border-radius: 0;
    }

    .stats {
      display: flex;

      > div {
        border-left: 1px solid $colorGray;
      }
    }
  }
}
