@import "styles/variables.module";

.base {
  display: flex;
  border-bottom: 1px solid $colorGray;
  padding: 16px 16px 11px;
  width: 100%;
}

.iconWrapper {
  margin-right: 9px;
  margin-top: 4px;
}

.iconActive,
.active {
  color: $colorGreen;
}

.infoWrapper {
  flex: 1;
}
